@import url(reset.css);

:root {
  --primary-Light-red: hsl(0, 100%, 67%);
  --primary-Orangey-yellow: hsl(39, 100%, 56%);
  --primary-Green-teal: hsl(166, 100%, 37%);
  --primary-Cobalt-blue: hsl(234, 85%, 45%);

  /* (background) (background) */
  --gradients-Light-slate-blue: hsl(252, 100%, 67%);
  --gradients-Light-royal-blue: hsl(241, 81%, 54%);

  /* (circle) (circle) */
  --gradients-Violet-blue: hsla(256, 72%, 46%, 1);
  --gradients-Persian-blue: hsla(241, 72%, 46%, 0);

  --neutral-White: hsl(0, 0%, 100%);
  --neutral-Pale-blue: hsl(221, 100%, 96%);
  --neutral-Light-lavender: hsl(241, 100%, 89%);
  --neutral-Dark-gray-blue: hsl(224, 30%, 27%);

  --fs-paragraph: 1.125rem;

  --font-family: "Hanken Grotesk", sans-serif;

  --fw-500: 500;
  --fw-700: 700;
  --fw-800: 800;
}

body {
  display: grid;
  place-content: center;
}

/******************** 
        main 
********************/
main {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

/******************** 
        left 
********************/
.container .left {
  background-image: linear-gradient(
    180deg,
    var(--gradients-Light-slate-blue),
    var(--gradients-Light-royal-blue)
  );
  border-radius: 1rem;
}

/******************** 
        footer 
********************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
